
@font-face {
	font-family: "Proxima Nova Light"; 
	src: url("Proxima Nova OpenType/ProximaNova-Light.otf"); 
}
@font-face {
	font-family: "Proxima Nova Light It"; 
	src: url("Proxima Nova OpenType/ProximaNova-LightIt.otf"); 
}
@font-face {
	font-family: "Proxima Nova Reg"; 
	src: url("Proxima Nova OpenType/ProximaNova-Reg.otf"); 
}
@font-face {
	font-family: "Proxima Nova Reg It"; 
	src: url("Proxima Nova OpenType/ProximaNova-RegIt.otf"); 
}
@font-face {
	font-family: "Proxima Nova Bold"; 
	src: url("Proxima Nova OpenType/ProximaNova-Bold.otf"); 
}
@font-face {
	font-family: "Proxima Nova Bold It"; 
	src: url("Proxima Nova OpenType/ProximaNova-BoldIt.otf"); 
}
@font-face {
	font-family: "Proxima Nova XBold"; 
	src: url("Proxima Nova OpenType/ProximaNova-Xbold.otf"); 
}