
.index{
	.row{
		padding-top: 80px;
		padding-bottom: 80px;
		position: relative;
		z-index: 2;

		& + .row{
			padding-top: 0 !important;
		}

		@media(max-width: $tablet){
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	&_dop_bg{
		background: url($base_img + 'dop_bg.png') left top no-repeat;
	}

	.main_content{
		background: #ffffff;
	}

	&_header_right_side{
		float: right;
		text-align: right;
		font-size: 0;
		line-height: 0;

		@media(max-width: $mobile){
			float: none;
			width: 100%;
			text-align: center;
		}
	}

	&_main_screen{
		background: url($base_img + 'index_main.png') center bottom no-repeat;
		padding-top: 110px;
		padding-bottom: 40px;
		// min-height: 997px;
		background-size: cover;
		margin-bottom: -115px;
		position: relative;
		z-index: 5;

		@media(max-width: $tablet){
			padding-top: 120px;
			padding-bottom: 0;
			// padding-bottom: 60px;
		}

		&__discount_text{
			text-align: center;
			color: $active_color;
			font-weight: 900;
			font-size: 30px;
			line-height: 32px;
			margin-bottom: 45px;

			@media(max-width: $mobile){
				font-size: 24px;
				line-height: 28px;
			}
		}


		&__title{
			font-size: 43px;
			line-height: 48px;
			font-weight: bold;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 120px;

			p{
				margin: 0;
				padding: 0;
			}

			@media(max-width: $tablet){
				text-align: center;
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 40px;
			}
		}	

		&__btn_block{
			&:after{
				content:" ";
				display:block;
				height: 0;
				clear: both;
			}
		}

		&__btn{
			&--left{
				float: left;

				@media(max-width: $desktop-min){
					margin-bottom: 20px !important;
					float: none;
				}

			}
			&--right{
				float: right;

				@media(max-width: $desktop-min){
					margin-bottom: 20px !important;
					float: none;
				}

			}
			&--center{
				margin-bottom: -72px !important;

				@media(max-width: $desktop-min){
					margin-bottom: 20px !important;
				}
			}
		}

		&__big_text{
			font-size: 36px;
			line-height: 42px;
			font-weight: bold;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 70px;

			p{
				margin: 0;
				padding: 0;
			}

			@media(max-width: $tablet){
				text-align: center;
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 40px;
			}

			@media(max-width: $mobile){
				font-size: 24px;
				line-height: 28px;
			}
		}

		&__text{
			max-width: 880px;
			margin: 0 auto;
			text-align: center;
			font-weight: normal;
			font-size: 32px;
			line-height: 38px;
			margin-bottom: 40px;
			color: #ffffff;

			p{
				margin: 0;
				margin-bottom: 35px;
				padding: 0;
			}

			@media(max-width: $tablet){
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 20px;
			}
		}
	}

	&_video_block{
		background: url($base_img + 'video_block.jpg') center center no-repeat;
		position: relative;
		height: 524px;
		padding-top: 200px;

		a, a:link, a:hover, a:visited, a:active, a:focus{
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			color: #ffffff;
			font-size: 48px;
			line-height: 48px;
			padding-top: 140px;
			margin: 0 auto;
			max-width: 360px;
			width: 100%;
			position: relative;
			text-align: center;

			&:before{
				content: ' ';
				display: block;
				position: absolute;
				height: 80px;
				width: 80px;
				@include border-radius(50%);
				background: $active_color;
				top: 0;
				margin: 0 auto;
				left: 0;
				right: 0;
			}

			&:after{
				content: ' ';
				position: absolute;
				display: block;
				height: 0;
				width: 0;
				border: solid 17px transparent;
				border-right: 0;
				border-left-width: 24px;
			    border-left-color: #ffffff;
			    position: absolute;
			    top: 25px;
			    margin: 0 auto;
			    left: 7px;
			    right: 0;
			}

			@media(max-width: $tablet){
				font-size: 32px;
				line-height: 32px;
			}
		}
	}

	&_login{
		display: inline-block;
		vertical-align: top;
		&:after{
			content: '|';
			color: #ffffff;
			font-size: 14px;
			padding-left: 20px;
		}

		a, a:link, a:hover, a:visited, a:active, a:focus{
			// padding-left: 25px;
			color: #ffffff;
			font-size: 13px;
			line-height: 20px;
			margin: 10px 0;
			display: inline-block;

			// background: url($base_img + 'login.png') left center no-repeat;
		}
	}

	&_regisration{
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;

		a, a:link, a:hover, a:visited, a:active, a:focus{
			// padding-left: 25px;
			color: #ffffff;
			font-size: 13px;
			line-height: 20px;
			margin: 10px 0;
			display: inline-block;

			// background: url($base_img + 'regisration.png') left center no-repeat;
		}
	}
	
	&__color{
		color: $dop_active;
		font-weight: bold;
	}

	&__title{
		font-size: 48px;
		line-height: 52px;
		color: $title_color;
		margin-bottom: 30px;
		font-weight: bold;
		text-align: center;

		@media(max-width: $tablet){
			font-size: 28px;
			line-height: 32px;
		}

		span{
			display: block;

			@media(max-width: $tablet){
				display: inline;
			}
		}

		&--in_darck{
			color: #ffffff;
		}
	}

	&_mtr{
		@include box-shadow( 0 -14px 10px $bxsh_color);
		text-align: center;
		position: relative;

		&:after{
			content:" ";
			display:block;
			height: 0;
			clear: both;
		}

		&:before{
			content: ' ';
			position: absolute;
			height: 10px;
			left: 0;
			right: 0;
			width: 100%;
			bottom: 100%;
			z-index: 2;
			background: $dop_active;
			@include border-radius(3px 3px 0 0);
		}

		&__item{
			float: left;
			width: 33.3%;
			padding: 20px;
			position: relative;
			height: 260px;

			@media(max-width: $tablet){
				width: 100%;
				height: auto;
				@include box-shadow( 0 -14px 10px $bxsh_color);
				position: relative;
				padding-bottom: 40px;

				&:before{
					content: ' ';
					position: absolute;
					height: 10px;
					left: 0;
					right: 0;
					width: 100%;
					bottom: 100%;
					z-index: 2;
					background: $dop_active;
					@include border-radius(3px 3px 0 0);
				}
			}

			&:after{
				content: ' ';
				display: block;
				position: absolute;
				width: 1px;
				top: 20px;
				bottom: 20px;
				border-right: solid 1px $light_bd;
				right: 0;

				@media(max-width: $tablet){
					display: none;
				}
			}

			&:last-of-type{
				&:after{
					display: none;
				}
			}
		}

		&__after_text{
			color: $dop_active;
			font-weight: bold;
			font-size: 36px;
			max-width: 660px;
			margin: 0 auto;
			text-transform: none;
			text-align: center;
			line-height: 42px;
			margin-top: 60px;
			margin-bottom: 30px;

			@media(max-width: $tablet){
				font-size: 24px;
				line-height: 28px;
				margin-top: 20px;
			}
		}

		&__img{
			height: 92px;
			margin: 20px 0;
			text-align: center;

			img{
				height: 100%;
				width: auto;
			}
		}

		&__title{
			font-size: 28px;
			line-height: 32px;
			color: $dop_active;
			font-weight: bold;
			text-transform: uppercase;

			@media(max-width: $tablet){
				font-size: 24px;
				line-height: 28px;
			}

			p{
				margin: 0;
				padding: 0;
			}

			&--active{
				color: $active_color;
			}
		}

		&__main_title{
			font-size: 36px;
			line-height: 36px;
			margin-bottom: 30px;
			font-weight: bold;
			text-align: center;
			color: $dop_active;


			@media(max-width: $tablet){
				font-size: 28px;
				line-height: 32px;
			}
		}
	}

	&_products{

		&:after{
			content:" ";
			display:block;
			height: 0;
			clear: both;
		}

		&__item{
			width: 33.3%;
			float: left;
			padding: 20px;

			@media(max-width: $tablet){
				width: 100%;
			}
		}

		&__img{
			height: 152px;
			margin: 35px 0;
			text-align: center;

			img{
				height: 100%;
				width: auto;
			}

			@media(max-width: $tablet){
				margin: 25px 0;
			}
		}

		&__title{
			font-weight: bold;
			color: $dop_active;
			text-align: center;
			font-size: 36px;
			line-height: 40px;
			margin: 0;
			margin-bottom: 10px;

			@media(max-width: $tablet){
				font-size: 28px;
				line-height: 32px;
			}
		}

		&__text{
			font-size: 18px;
			line-height: 22px;
			color: $title_color;
			font-weight: normal;
			text-align: center;
		}

		&__dop_title{
			font-size: 24px;
			text-align: center;
			color: $title_color;
			font-weight: bold;
			line-height: 28px;
			text-transform: uppercase;
			
			@media(max-width: $tablet){
				font-size: 22px;
				line-height: 24px;
			}
			
			span{
				display: block;

				@media(max-width: $tablet){
					display: inline;
				}
			}
		}
	}

	&_token_sales{
		text-align: center;

		&__text_right{
			color: $dop_active;
			font-weight: bold;
			font-size: 0;
			line-height: 0;
			float: left;
			width: 50%;

			@media(max-width: $desktop){
				width: 100%;
			}
		}

		&__col{
			width: 50%;
			float: left;
			padding: 10px;

			@media(max-width: $tablet-min){
				width: 100%;
			}
		}

		&__text{
			font-size: 22px;
			color: #ffffff;
			line-height: 28px;
			font-weight: bold;

			@media(max-width: $tablet){
				font-size: 18px;
				line-height: 22px;
			}
		}

		&__item{
			width: 33.3%;
			float: left;
			text-align: center;
			margin-bottom: 40px;
			padding: 0 10px;

			&:last-of-type{
				margin-bottom: 0;
			}

			@media(max-width: $tablet){
				width: 100%;
			}
		}

		&__text_line{
			&:after{
				content:" ";
				display:block;
				height: 0;
				clear: both;
			}
		}

		&__text_col{
			max-width: 405px;
			width: 100%;
			margin: 0 auto;
			font-weight: bold;
			font-size: 30px;
			text-transform: uppercase;
			line-height: 40px;
			padding: 15px 20px;
			color: #ffffff;
			@include border-radius(3px);
			text-align: center;
			background: $dop_active;

			@media(max-width: $tablet){
				font-size: 28px;
				line-height: 32px;

				margin-bottom: 30px;

				&:last-of-type{
					margin-bottom: 0;
				}
			}

			span{
				display: block;
			}

			&--right{
				background: $active_color;
			}

			&--distribution{
				display: table;

				.index_token_sales__percent{
					margin-bottom: 20px;
				}
			}

		}

		&__end_text{
			font-weight: bold;
			color: $dop_active;
			font-size: 30px;
			line-height: 36px;
			text-align: center;
			margin-top: 50px;

			p{
				margin: 0;
				padding: 0;
			}

			@media(max-width: $tablet){
				font-size: 24px;
				line-height: 28px;
				margin-top: 30px;
			}
		}

		&__percent{
			font-size: 98px;
			line-height: 84px;
			display: block;
			margin-bottom: 10px;

			@media(max-width: $tablet){
				font-size: 70px;
				line-height: 64px;
			}
		}

		&__percent_text{
			// font-size: 40px;
			// line-height: 41px;
			// display: inline-block;
			// text-align: left;

			// span{
			// 	display: block;
			// }

			width: 100%;
			height: 285px;
			display: table-cell;
			vertical-align: middle;
		}

		&__text_left{
			font-size: 30px;
			line-height: 32px;
			color: $dop_active;
			font-weight: bold;
			float: left;
			width: 50%;

			@media(max-width: $desktop){
				width: 100%;
				margin-bottom: 30px;
			}

			p{
				margin: 0;
				padding: 0;
			}
		}

		&__time{
			line-height: 20px;
			font-size: 20px;
			font-weight: normal;
		}

		&__date{
			width: 185px;
			border: solid 1px #ffffff;
			@include border-radius(3px);
			margin: 15px auto;
			padding: 0;
			padding-top: 20px;
			text-align: center;

		}

		&__day{
			font-size: 100px;
			font-weight: bold;
			line-height: 76px;

			span{
				display: inline-block;
				width: 85px;
				text-align: center;

				& + span{
					border-left: solid 1px #ffffff;
				}
			}
		}

		&__mounth{
			border-top: solid 1px #ffffff;
			padding: 5px 10px;
			margin-top: 20px;
		}

		&__table table{
			@extend .standart_table;
			background: #ffffff;
			@include border-radius(3px);
			border: 0;
			width: 100%;
			max-width: 1100px;
			margin: 0 auto;

			tr{
				border: dotted 1px $title_color;
			}

			tr td{
				color: $title_color;
				font-size: 24px;
				line-height: 30px;
				padding-top: 10px;
				padding-bottom: 10px;
				text-align: center;

				&:first-child{
					text-transform: uppercase;
				}

				&:nth-child(2){
					color: $active_color;
					font-weight: bold;

					&.no_active{
						color: #737373;
					}
				}
			}
		}

		&__title{
			font-size: 30px;
			font-weight: bold;
			text-transform: uppercase;
			color: $dop_active;
			line-height: 32px;
			margin-bottom: 20px;

			&--orange{
				color: $index_active;
				margin-bottom: 40px;
			}

			@media(max-width: $tablet){
				font-size: 24px;
				margin-bottom: 20px;
			}
		}
	}

	&_subscribe{
		&__wrap{
			margin: 0 auto;
			max-width: 700px;
			width: 100%;
			position: relative;
			padding-right: 90px;
			@include border-radius(7px);
			overflow: hidden;

			@media(max-width: $tablet){
				padding-right: 60px;
			}
		}

		&__input{
			@extend .input_standart;
			border: 0;
			line-height: 32px;
			font-size: 30px;
			padding: 20px 30px;
			background: #f8f8f8;
			width: 100%;

			@media(max-width: $tablet){
				padding: 10px 20px;
				font-size: 24px;
			}

  			@include input-placeholder {
  				font-style: italic;
  			}
		}

		&__btn{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 90px;
		}

		&--footer{
			float: left;
			width: 62%;

			@media(max-width: $tablet){
				width: 100%;
			}
		}
	}

	&__text_after_title{
		font-size: 30px;
		color: #ffffff;
		margin-bottom: 30px;
		font-weight: bold;
		line-height: 30px;
		text-align: center;

		@media(max-width: $tablet){
			font-size: 22px;
			line-height: 24px;
		}
	}

	&_project{
		background: url($base_img + 'project.jpg') right bottom no-repeat;
		background-color: #0396d9;
		position: relative;

		@media(max-width: $tablet){
			background-image: none;
		}

		&:before{
			content: ' ';
			width: 728px;
			height: 1623px;
			display: block;
			position: absolute;
			top: -235px;
			left: 0;
			z-index: 1;
			background: url($base_img + 'project.png') top left no-repeat;

			@media(max-width: 1640px){
				left: -400px;
			}

			@media(max-width: $tablet){
				display: none;
			}
		}

		&__block{

			margin: -20px;

			&:after{
				content:" ";
				display:block;
				height: 0;
				clear: both;
			}
		}

		&__item_wrap{
			float: left;
			width: 33.3%;
			text-align: center;
			padding: 20px;
			padding-top: 90px;

			@media(max-width: $desktop){
				width: 50%;

				&:first-of-type{
					width: 100%;
				}
			}

			@media(max-width: $tablet){
				width: 100%;
			}
		}

		&__item{
			position: relative;
			max-width: 335px;
			width: 100%;
			display: inline-block;
			@include border-radius(7px);
			@include box-shadow( 0 0 12px $bxsh_color);
			background: rgba(220, 245, 253, 0.1);
			padding: 40px 10px;
			padding-top: 80px;
			min-height: 860px;

			@media(max-width: $desktop){
				min-height: 580px;
				max-width: none;
			}

			@media(max-width: $tablet){
				min-height: 0;
			}
		}

		&__icon{
			position: absolute;
			top: -72px;
			width: 144px;
			height: 144px;
			@include border-radius(50%);
			background: center center no-repeat $title_color;
			left: 0;
			right: 0;
			margin: 0 auto;

			&--1{
				background-image: url($base_img + 'project__icon--1.png');
			}
			&--2{
				background-image: url($base_img + 'project__icon--2.png');
			}
			&--3{
				background-image: url($base_img + 'project__icon--3.png');
			}
		}

		&__title{
			font-size: 36px;
			line-height: 40px;
			color: $title_color;
			margin-bottom: 40px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;

			@media(max-width: $tablet){
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 30px;
			}
		}

		&__text{
			font-size: 28px;
			font-weight: normal;
			text-align: center;
			color: #ffffff;
			line-height: 35px;

			@media(max-width: $tablet){
				font-size: 22px;
				line-height: 28px;
			}

			&--title{
				font-weight: bold;
				margin-bottom: 10px;
				color: $title_color;
			}

			& + .index_project__text--title{
				margin-top: 30px;

				@media(max-width: $tablet){
					margin-top: 20px;
				}
			}
		}
	}

	&_team{
		background: url($base_img + 'index_team.jpg') center top no-repeat, url($base_img + 'index_team__bot.jpg') center bottom no-repeat, url($base_img + 'index_team__right.jpg') center right no-repeat, url($base_img + 'index_team__left.jpg') center left no-repeat ;
		padding-bottom: 160px;

		@media(max-width: $desktop){
			background: url($base_img + 'index_team.jpg') center top no-repeat, url($base_img + 'index_team__bot.jpg') center bottom no-repeat;
		}

		&__wrap{
			&:after{
				content:" ";
				display:block;
				height: 0;
				clear: both;
			}
		}

		&__block_wrap{			
			width: 33.3%;
			float: left;

			@media(max-width: $tablet){
				width: 50%;
			}

			@media(max-width: $mobile){
				width: 100%;
			}
		}

		&__block{
			padding: 45px 30px;
			max-width: 340px;
			margin: 0 auto;
			&:hover{
				@include box-shadow( 0 0px 8px $bxsh_color);
			}
		}

		&__item{
			text-decoration: none;
			display: block;
			height: 100px;


			@media(max-width: $tablet-min){
				height: 185px;
			}

			@media(max-width: $mobile){
				height: auto;
			}

			&:hover{
				text-decoration: none;
			}

			&:after{
				content:" ";
				display:block;
				height: 0;
				clear: both;
			}
		}

		&__photo{
			@include border-radius(50%);
			float: right;
			height: 85px;
			width: 85px;
			overflow: hidden;

			img{
				min-height: 100%;
				min-width: 100%;
				height: auto;
				width: auto;
			}

			@media(max-width: $tablet-min){
				float: none;
				margin: 0 auto;
				margin-bottom: 10px;

			}
		}

		&__name{
			font-size: 22px;
			color: $title_color;
			font-weight: bold;
			line-height: 30px;
			margin-bottom: 5px;

			span{
				display: block;
			}


			@media(max-width: $tablet-min){
				text-align: center;

				span{
					display: inline;
				}
			}
		}

		&__work{
			font-size: 16px;
			color: $title_color;
			
			span{
				display: block;
			}


			@media(max-width: $tablet-min){
				text-align: center;

				span{
					display: inline;
				}
			}
		}

		&__linkedin{
			margin: 10px 0 15px 0;

			a, a:link, a:hover, a:visited, a:active, a:focus{
				text-decoration: none;
				height: 24px;
				width: 24px;
				background: $active_color;
				color: #ffffff;
				font-size: 16px;
				display: block;
				line-height: 24px;
				text-align: center;
				@include border-radius(50%);
			}

			@media(max-width: $tablet-min){
				display: none;
			}
		}

		&__text{
			font-size: 16px;
			text-decoration: underline;
			color: $title_color;
			line-height: 24px;
			height: 72px;

			@media(max-width: $tablet-min){
				display: none;
			}
		}
	}

	&_roadmap{
		background: url($base_img + 'footer_bg.jpg') top center no-repeat #ffffff;

		&__img{
			text-align: center;
			margin-top: 80px;

			@media(max-width: $tablet){
				margin-top: 60px;
			}

			img{
				max-width: 1137px;
				width: 100%;
				height: auto;
			}
		}

		&__full{
			display: inline-block;
			@media(max-width: $desktop){
				display: none;
			}
		}

		&__tablet{
			display: none;
			@media(max-width: $desktop){
				display: inline-block;
			}	

			@media(max-width: $tablet){
				display: none;
			}
		}

		&__mobile{
			display: none;

			@media(max-width: $tablet){
				display: inline-block;
			}
		}
	}
}

.slick{
	&-slider {
		overflow: hidden;

		&:after{
			content:" ";
			display:block;
			height: 0;
			clear: both;
		}

		* {
			outline: none;
		}
	}

	&-slide{
		float: left;
	}

	&-arrow{
		position: absolute;
		font-size: 25px;
		line-height: 40px;
		height: 40px;
		width: 40px;
		text-align: center;
		color: #ffffff;
		top: 50%;
		margin-top: -20px;
		z-index: 2;
		cursor: pointer;
	}

	&-next{
		right: 0;
	}

	&-prev{
		left: 0;
	}
}

.supporters{
	&__text{
		font-size: 30px;
		line-height: 32px;
		color: $dop_active;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
	}

	&__name{
		text-align: center;
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
	}

	&__img{
		width: 160px;
		height: 160px;
		@include border-radius(5px);
		background: #ffffff;
		margin: 0 auto;
		line-height: 160px;
		text-align: center;
		margin-bottom: 20px;

		img{
			max-height: 140px;
			max-width: 140px;
			height: auto;
			width: auto;
			vertical-align: middle;
		}
	}

	&__slider{
		.slick-arrow{
			top: 80px;
		}
	}

	&__slider_wrap{
		margin: 40px 0;
		padding: 0 40px;
		position: relative;

		@media(max-width: $tablet-min){
			padding: 0 20px;

			.slick{
				&-next{
					right: -20px;
				}

				&-prev{
					left: -20px;
				}
			}
		}
	}

	&__item{
		padding: 0 10px;
	}
}

