.tipycal_btn{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	@include border-radius(16px);
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	font-weight: normal;
	border: solid 1px;
	outline: none;
	color: #ffffff;
	line-height: 20px;
	padding: 5px 15px;
	text-align: center;

	@media(max-width: $mobile){
		width: 100%;
	}
}
.index_btn{
	@extend .tipycal_btn;		
	color: #ffffff;
	width: 320px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	font-size: 24px;
	line-height: 30px;
	padding: 20px 15px;
	font-weight: bold;
	@include border-radius(36px);


	@media(max-width: $tablet){
		padding-top: 10px;
		padding-bottom: 10px;
	}
}


a, a:link, a:hover, a:visited, a:active, a:focus, button, input[type="submit"]{
	@include transition(all 0.2s ease-out 0.1s);
	font-size: 14px;
	line-height: 18px;


	&.green_btn{
		@extend .tipycal_btn;
		border-color: $active_color;
		color: $active_color;
		background: transparent;

		&.account_block__out{			
			line-height: 16px;
			padding: 5px 10px;
			@media(max-width: $mobile){
				margin-top: 10px;
				max-width: 280px;
			}
		}
	}

	&.index_header__main_link{
		@extend .tipycal_btn;
		border: 0;
		background-color: $active_color;
		color: #ffffff;
		line-height: 16px;
		padding: 7px 10px;
		margin: 5px 50px;

		@media(max-width: $tablet){
			margin-left: 0;
			margin-right: 0;
		}

		@media(max-width: $mobile){
			max-width: 280px;
			margin: 15px auto;
			display: block;
		}
	}
	
	&.blue_btn{
		@extend .tipycal_btn;
		border-color: $dop_active;
		color: $dop_active;
		background: transparent;
		
	}

	&.gray_btn{
		@extend .tipycal_btn;
		border-color: $text_color;
		color: $text_color;
		background: transparent;	
	}

	&.red_btn{
		@extend .tipycal_btn;
		border-color: $error_color;
		color: $error_color;
		background: transparent;
	}

	&.account_block__mail{
		line-height: 28px;
		font-size: 16px;
		color: $dop_active;
		text-decoration: none;
		margin:  0 10px;
	}

	&.referral__link{
		font-size: 17px;
		padding: 5px 0;
		color: $text_color;
		line-height: 22px;
		display: block;
		text-decoration: none;
	}

	&.index_main_screen__btn_color{
		@extend .index_btn;
		border-color: $active_color;
		background: $active_color;
	}

	&.index_main_screen__btn_transparent{
		@extend .index_btn;
		border-color: #ffffff;
		background: transparent;
		color: #ffffff;
	}

	&.index_main_screen__dop_link{
		color: #ffffff;
		text-decoration: underline;
		display: block;
		width: 320px;
		max-width: 100%;
		margin: 0 auto;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
	}

	&.orange_btn{
		@extend .index_btn;
		border-color: $index_active;
		background: $index_active;
	}

	&.index_subscribe__btn{
		@extend .index_btn;
		border-color: $index_active;
		background: url($base_img + 'subscribe.png') center center no-repeat;
		background-color: $index_active;
		@include border-radius(0);
		width: 90px;

		@media(max-width: $tablet){
			width: 60px;
		}
	}

}

a:hover, button:hover, input[type="submit"]{
	cursor: pointer;
	&.green_btn{
		background: $active_color;
		color: #ffffff;
		
	}
	&.blue_btn{
		background: $dop_active;
		color: #ffffff;
		
	}
	&.gray_btn{
		background: $text_color;
		color: #ffffff;
	}

	&.red_btn{
		background: $error_color;
		color: #ffffff;
	}

	&.account_block__mail{
		text-decoration: $active_color;
	}

	&.referral__link{
		text-decoration: underline;
	}

	&.index_main_screen__btn_transparent{
		border-color: $dop_active;
		background-color: $dop_active;
	}

	&.index_main_screen__btn_color{
		border-color: $dop_active;
		background-color: $dop_active;
	}

	&.index_main_screen__dop_link{
		text-decoration: none;
	}

	&.orange_btn{
		border-color: $active_color;
		background-color: $active_color;
	}

	&.index_subscribe__btn{
		border-color: $active_color;
		background-color: $active_color;
	}

	&.index_header__main_link{
		background-color: $index_active;
	}
}

a:active, button:active, input[type="submit"] {
	// color: $text-dark; 

}


